.dark {
    --bg-color: #002b36!important;
    --font-color: #268bd2 !important;
    --hl-color: #cb4b16 !important;
    --fg-color: #b58900 !important;
}

.light {
    --bg-color: #fdf6e3!important;
    --font-color: #2aa198 !important;
    --hl-color: #b58900 !important;
    --fg-color: #d33682 !important;
}